- name: Deploy to VM
  uses: appleboy/ssh-action@v1.0.3
  with:
    host: ${{ secrets.VM_HOST }}
    username: ${{ secrets.VM_USERNAME }}
    key: ${{ secrets.VM_SSH_KEY }}
    script: |
      cd /opt/furryfriends
      sudo git config --global --add safe.directory /opt/furryfriends
      sudo chown -R azureuser:azureuser /opt/furryfriends/.git
      sudo chown -R azureuser:azureuser venv/
      git pull origin main
      source venv/bin/activate
      pip install --upgrade pip
      pip install -r requirements.txt
      sudo systemctl restart furryfriends
      echo "Deployment successful"